.playlist-info {
  color: #fff;
  width: 85%;
  margin: 0 auto 3rem auto;
  padding: 1rem;
  border-radius: 20px;
  background-color: #1db95498;

  @media screen and (max-width: 900px) {
    width: 93%;
  }

  @media screen and (max-width: 740px) and (orientation: landscape) {
    margin: 0 auto 2rem auto;
  }

  h1 {
    margin-bottom: 1rem;
    letter-spacing: 2px;

    @media screen and (max-width: 740px) and (orientation: landscape) {
      margin-bottom: 0.6rem;
      font-size: 1.7rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 1.5rem;
    }
  }
}
