.playlists {
  width: 85%;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    width: 90%;
  }

  &__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    @media screen and (max-width: 900px) {
      gap: 1rem;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
