.notFound {
  height: 91vh;
  flex: 1;
  background-color: #131111;
  color: #ccc;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    height: 85vh;
    padding: 1rem;
  }

  p {
    margin: 2rem 0;
  }

  &__btn {
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    background-color: #1db954;
    color: #191414;
    border: none;
    border-radius: 30px;
    transition: all 0.3s;

    &:hover {
      background-color: #1ed760;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }
  }
}
