.sidebar {
  background-color: #000;
  width: 17%;
  height: 91vh;
  color: #ccc;
  padding: 1.5rem 0.5rem;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;

  &__backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 3;
  }

  @media screen and (max-width: 900px) {
    height: 85vh;
    width: 19%;
    padding: 1rem 0.5rem;
  }

  @media screen and (max-width: 740px) and (orientation: landscape) {
    width: 22%;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #555;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #777;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: #358a52;
    }
  }

  @media screen and (max-width: 480px) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-170%);
  }

  &.open {
    width: 50%;
    z-index: 5;

    @media screen and (max-width: 480px) {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(0);
    }
  }

  a {
    text-decoration: none;
  }

  &__title {
    display: flex;
    align-items: center;

    span {
      color: #fff;
      margin-left: 5px;
      font-size: 1.8rem;

      @media screen and (max-width: 1024px) {
        font-size: 1.35rem;
      }

      small {
        font-size: 1.2rem;
        margin-left: 3px;
        color: #1ed760;

        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0.75rem 0;
    border-bottom: 1px solid #666;
    list-style: none;

    @media screen and (max-width: 900px) {
      margin: 0;
      padding: 0.3rem 0;
      margin-top: 0.3rem;
    }

    &--item {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #b3b3b3;
      margin: 0.4rem 0;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.3s;

      @media screen and (max-width: 1200px) {
        padding: 0.4rem 0.8rem;
        margin: 0.3rem 0;
      }

      @media screen and (max-width: 768px) {
        margin: 3px 0;
      }

      span {
        margin-left: 1rem;

        @media screen and (max-width: 768px) {
          font-size: 0.93rem;
        }

        @media screen and (max-width: 740px) and (orientation: landscape) {
          margin-left: 0.75rem;
        }
      }

      svg {
        transition: all 0.3s;

        @media screen and (max-width: 768px) {
          width: 20px;
        }
      }

      svg path {
        fill: #b3b3b3;
      }

      &.active {
        color: #fff;
        background-color: #333;

        svg path {
          fill: #fff;
        }
      }

      &:hover {
        color: #fff;

        svg path {
          fill: #fff;
        }
      }
    }
  }

  &__playlists {
    flex: 1;
    margin: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
      margin: 0.75rem;
    }

    @media screen and (max-width: 740px) and (orientation: landscape) {
      min-height: 125px;
    }

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #555;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #777;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: #358a52;
    }

    h4 {
      letter-spacing: 2px;
      font-weight: 100;
      margin-bottom: 1.3rem;

      @media screen and (max-width: 1200px) {
        margin-bottom: 1rem;
      }

      @media screen and (max-width: 740px) and (orientation: landscape) {
        font-size: 0.9rem;
      }
    }

    p {
      @media screen and (max-width: 740px) and (orientation: landscape) {
        font-size: 0.85rem;
      }
    }
  }

  &__info {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      padding: 0.7rem;
    }

    svg {
      margin-top: -3rem;

      @media screen and (max-width: 1200px) {
        width: 85px;
        height: 85px;
      }

      @media screen and (max-width: 1024px) {
        width: 70px;
        height: 70px;
      }

      @media screen and (max-width: 900px) {
        margin-top: -2rem;
        width: 60px;
        height: 60px;
      }
    }

    &--btn {
      text-decoration: none;
      cursor: pointer;
      outline: none;
      background-color: #1ed760;
      padding: 0.5rem;
      width: 70%;
      margin: 1rem auto 0 auto;
      border: none;
      border-radius: 50px;
      font-size: 1rem;
      color: #191414;
      text-align: center;
      transition: all 0.3s;

      @media screen and (max-width: 1200px) {
        width: 90%;
        padding: 0.3rem;
      }

      @media screen and (max-width: 1024px) {
        font-size: 0.9rem;
      }

      &:hover {
        background-color: #1db954;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}
