.user {
  height: 91vh;
  flex: 1;
  background-color: #131111;
  color: #ccc;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .header {
    display: none;

    @media screen and (max-width: 480px) {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 95vw;
      padding: 1rem 0.3rem;
    }
  }

  @media screen and (max-width: 900px) {
    height: 85vh;
  }

  h1 {
    margin-bottom: 3rem;
    letter-spacing: 2px;

    @media screen and (max-width: 768px) {
      font-size: 1.7rem;
    }

    span {
      font-size: 1.7rem;
      font-weight: 100;

      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }

  &__logo {
    width: 150px;
    height: 150px;

    @media screen and (max-width: 768px) {
      width: 90px;
      height: 90px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  p {
    margin-top: 3rem;
  }
}
