.player {
  background-color: #191414;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 10;

  @media screen and (max-width: 900px) {
    height: 15vh;
  }

  @media screen and (max-width: 480px) {
    display: grid;
    grid-template-areas: 'album controls' 'album progres';
  }

  &__album {
    display: flex;
    min-width: 12rem;
    align-items: center;
    color: #ccc;
    margin-left: 0.75rem;

    @media screen and (max-width: 768px) {
      margin: 0;
      min-width: 9rem;
    }

    @media screen and (max-width: 480px) {
      grid-area: album;
    }

    &--img {
      margin-right: 1rem;

      @media screen and (max-width: 768px) {
        width: 40px;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }

    &--title {
      font-size: 1rem;
      margin-bottom: 5px;
    }

    &--artist {
      font-size: 0.8rem;
    }
  }

  &__progress {
    flex: 1;
    margin: 0 1.5rem;
    filter: brightness(0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;

    @media screen and (max-width: 768px) {
      margin: 0 0.75rem;
    }

    @media screen and (max-width: 480px) {
      grid-area: progres;
      margin: 0;
    }

    &:hover {
      filter: brightness(1);
    }

    &--container {
      cursor: pointer;
      background-color: #777;
      height: 7px;
      border-radius: 10px;
      flex: 1;
      margin: 0 0.5rem;
    }
  }

  &__controls {
    display: flex;
    min-width: 15rem;
    margin: 0 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: 768px) {
      margin: 0;
      min-width: 10rem;
    }

    @media screen and (max-width: 480px) {
      grid-area: controls;
      min-width: 12rem;
    }

    & > * {
      opacity: 0.9;
      cursor: pointer;
      margin: 0 0.75rem;
      transition: all 0.2s;

      @media screen and (max-width: 768px) {
        margin: 0 0.5rem;
        width: 16px;
        height: auto;
      }

      &:hover {
        opacity: 1;
        transform: scale(1.05);

        path {
          fill: #fff;
        }
      }

      &:active {
        transform: scale(1);
      }

      &.loop,
      &.random {
        path {
          fill: #1db954;
        }
      }
    }

    .dotr,
    .dotl {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #1db954;
      position: absolute;
      bottom: 0;
    }

    .dotl {
      right: 0.5rem;

      @media screen and (max-width: 768px) {
        right: 0.4rem;
      }
    }

    .dotr {
      left: 0.4rem;

      @media screen and (max-width: 768px) {
        left: 0.3rem;
      }
    }

    .previous {
      transform: rotate(180deg);

      &:hover {
        transform: rotate(180deg) scale(1.05);
      }

      &:active {
        transform: rotate(180deg) scale(1);
      }
    }

    .play-pause-btn {
      @media screen and (max-width: 768px) {
        width: 33px;
        height: auto;
      }
    }

    .loop-icon {
      @media screen and (max-width: 768px) {
        width: 19px;
        height: auto;
      }
    }
  }
}
